@page "/"

<div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 3rem">
        @if (posts is not null)
        {
            foreach (var x in posts)
            {
                <Post Title="@x.Title" Author="@x.Author" Content="@x.Content" />
            }
        }
        else
        {
            <LoadingSpinner />
        }
    </div>
</div>