@page "/"

@if (posts is not null)
{
    <div class="grid grid-cols-6" style="margin-top: 5rem">
        <div class="col-start-3 col-span-2">
            @foreach (var post in posts)
            {
                <Post post="@post" />
            }
        </div>
    </div>
}
else
{
    <div class="flex items-center justify-center h-screen">
        <LoadingSpinner />
    </div>
}