@page "/"

<div class="row">
    <div class="col-md-4 offset-md-4">
        @if (posts is not null)
        {
            foreach (var post in posts)
            {
                <Post post="@post"/>
            }
        }
        else
        {
            <LoadingSpinner />
        }
    </div>
</div>