@inherits LayoutComponentBase
<div class="container-fluid">
    <NavMenu/>
    <div class="row">
        <div class="page">
            <div class="main">
                <div>
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
