<nav class="navbar navbar-dark bg-dark justify-content-between row">
    <div class="col">
        <NavLink class="navbar-brand" Match="NavLinkMatch.All" href="">Flauddid</NavLink>
    </div>
    <div class="col-xs-auto">
        <form class="form-inline container">
            <input class="form-control mr-sm-2 col" required type="text" placeholder="Search" aria-label="Search" @bind="@searchInput">
            <button class="btn btn-outline-success my-2 my-sm-0 col-3" type="button" @onclick="GetSearchResults">Search</button>
        </form>
    </div>
</nav>