<nav class="flex bg-pColor p-2 flex-wrap fixed left-0 right-0 shadow-sm">
    <NavLink class="p-2 mr-4 inline-flex items-center" Match="NavLinkMatch.All" href=""><span class="text-xl text-white font-bold uppercase tracking-wide">Flauddid</span></NavLink>
    @*<form class="d-flex">
            <input class="form-control me-2" required type="text" placeholder="Search" aria-label="Search" @bind="@searchInput">
            <button class="btn btn-outline-success" type="button" @onclick="GetSearchResults">Search</button>
        </form>*@
</nav>