<nav class="navbar navbar-dark darkBackground sticky-top row">
    <div class="container-fluid">
        <NavLink class="navbar-brand" Match="NavLinkMatch.All" href="">Flauddid</NavLink>
        @*<form class="d-flex">
            <input class="form-control me-2" required type="text" placeholder="Search" aria-label="Search" @bind="@searchInput">
            <button class="btn btn-outline-success" type="button" @onclick="GetSearchResults">Search</button>
        </form>*@
    </div>
</nav>