<div class="card mb-3 text-light border-secondary fontDesign" style="background-color: #2b2b2b; max-height: 500px">
    @switch (PostType)
    {
        case Domain.Entities.PostType.Image:
            <div class="card-body">
                <h3 class="card-title">@Title</h3>
            </div>
            <img class="card-img-bottom mediaMargin" style="overflow-y: hidden" src="@Content" />
            break;
        case Domain.Entities.PostType.TextOnly:
            <div class="card-body">
                <h3 class="card-title">@Title</h3>
                <div class="overflow-hidden">
                    <p class="card-text" style="max-height: 150px;">@Content</p>
                </div>
            </div>
            break;
        case Domain.Entities.PostType.Video:
            <div class="card-body">
                <h3 class="card-title">Video</h3>
            </div>
            break;
    }
</div>