.mediaMargin {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2rem;
}

.postCard {
    color: #f8f9fa !important;
    margin-bottom: 2rem;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.fontDesign p {
    font-size: 12px;
    font-weight: 300;
}

.fontDesign h3 {
    font-size: 18px;
}

.voteButton{
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 10px;
}

.voteButton a {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 0;
}

.voteButton span:hover{
    color: orange!important;
}

.voteButton span {
    font-size: 20px;
}

.voteButton div {
    font-size: 11px;
    margin: 0px;
    font-weight: 700;
}

.postInfo{
    font-size: 10px;
    padding-top: 2px;
}

.postButtons a{
    align-items: center;
    display: flex;
    font-size: 11px;
    padding: 9px;
    cursor: pointer;
    margin-right: 4px;
    font-weight: bolder;
}

.postButtons span{
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}


.secondaryBtnColor {
    color: #757575!important;
}

.title{
    margin-left: 8px;
    font-size: 18px;
}

.content p{
    max-height: 300px;
    font-size: 13px!important;
    margin-left: 8px;
}